[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = ">=3.2.9"
matplotlib = ">=3.5.1"
scipy = ">=1.8.0"
scikit-learn = ">=1.0.2"
tensorflow = ">=2.7.0"
pyspark = {version = "~=3.3.0", extras = ["pandas_on_spark"]}
plotly = "~=5.6.0"
dask = {version = ">=2022.8.0", extras = ["complete"]}
h5py = "~=3.6.0"
numpy = ">=1.20.3"
pandas = ">=1.4.1"
scikit-image = ">=0.19.2"
s3fs = "*"
jupyter-server-proxy = "~=3.2.1"
dask-labextension = "~=5.2.0"
ipywidgets = "==8.0.1"
pyyaml = "==6.0"
jsonschema = "==4.4.0"
supervisor = "==4.2.4"
pyarrow = "*"
psycopg2-binary = "*"
crontab = "*"
functions-framework = "*"
sqlalchemy = { extras = ["asyncio"], version = "*" }
attrs = "*"
pywikibot = "*"
wikitextparser = "*"
pymongo = "*"
redis = "*"
rq = "*"
distributed = "*"
scrapy = "*"
mergedeep = "*"
loguru = "*"
notifiers = "*"
toml = "*"
python-dotenv = "*"
ratelimit = "*"
playwright = "*"
cassandra-driver = "*"
ccm = "*"
mlxtend = "*"
tensorflow-datasets = "*"
jieba = "*"
typing-inspect = "*"
marko = "~=1.2.0"
sentry-sdk = "*"
flask = "*"
turbo-flask = "*"
freezegun = "*"
ray = "*"
thespian = "*"
dash = "*"
jupyter-dash = "*"
pony = "*"
rethinkdb = "*"
pyzmq = "*"
kubernetes = "*"
reactivex = "*"
huey = "*"
etcd3 = "*"
opencv-python = "*"
pycapnp = "*"

[dev-packages]
pytype = ">=2022.8.23"
flake8 = "*"
pre-commit = "*"
setuptools = "*"
build = "*"
pytest = "~=7.0.1"
black = "*"
pylint = "*"
coverage = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
