[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "SUSTech mirror"

[packages]
jupyterlab = "*"
matplotlib = ">=3.5.1"
scipy = ">=1.8.0"
pyspark = {version = "*", extras = ["pandas_on_spark"]}
plotly = "*"
dask = { version = "*", extras = ["complete"] }
distributed = "*"
scikit-learn = ">=1.0.2"
mlxtend = "*"
h5py = ">=3.6.0"
s3fs = "*" # aiohttp
numpy = ">=1.20.3"
pandas = ">=1.4.1"
#scikit-image = ">=0.19.2"
jupyter-server-proxy = "*" # aiohttp
dask-labextension = "*" # aiohttp
ipywidgets = ">=8.0.1"
pyyaml = ">=6.0"
jsonschema = ">=4.4.0"
pyarrow = "*"
psycopg =  { extras = ["binary", "pool"], version = "*" }
crontab = "*"
sqlalchemy = { extras = ["asyncio"], version = "*" }
pymongo = "*"
redis = "*"
mergedeep = "*"
loguru = "*"
notifiers = "*"
toml = "*"
python-dotenv = "*"
ratelimit = "*"
playwright = "*"
cassandra-driver = "*"
ccm = "*"
jieba = "*"
typing-inspect = "*"
marko = ">=1.2.0"
freezegun = "*"
dash = "*"
jupyter-dash = "*" # ansi2html
pony = "*"
rethinkdb = "*"
kubernetes = "*"
reactivex = "*"
notebook = "*"
pika = "*"
pydantic = "*"
protobuf = "*"
grpcio = "*"
minio = "*"
transformers = "*"
opencv-python = "*"
seaborn = "*"
apache-airflow = "*"
streamlit = "*"
xlrd = "*"
openpyxl = "*"
odfpy = "*"
pyxlsb = "*"
pillow = "*"
openai = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
